.cubemapcenter.spin-3d-y {
    -webkit-animation: spin-3d-y var(--spin-time) linear infinite;
    animation: spin-3d-y var(--spin-time) linear infinite;
}

@-webkit-keyframes spin-3d-y {
    0% {
        -webkit-transform: translateZ(var(--offset-z)) rotateY(0deg) translateX(var(--offset-x)) translateY(var(--offset-y));
        transform: translateZ(var(--offset-z)) rotateY(0deg) translateX(var(--offset-x)) translateY(var(--offset-y));
    }
    100% {
        -webkit-transform: translateZ(var(--offset-z)) rotateY(360deg) translateX(var(--offset-x)) translateY(var(--offset-y));
        transform: translateZ(var(--offset-z)) rotateY(360deg) translateX(var(--offset-x)) translateY(var(--offset-y));
    }
}
  
@keyframes spin-3d-y { 
    0% {
        transform: translateZ(var(--offset-z)) rotateY(0deg) translateX(var(--offset-x)) translateY(var(--offset-y)); 
    } 
    100% {
        transform: translateZ(var(--offset-z)) rotateY(360deg) translateX(var(--offset-x)) translateY(var(--offset-y)); 
    } 
}

.cubemap img {
    margin: 0;
}